body {
    height: 100%;
    width: 100%;  
    background: #363636;
    background: -webkit-linear-gradient(-130deg, #2C5364, #203A43, #0F2027);
    background: linear-gradient(-130deg, #2C5364, #203A43, #0F2027);
    margin: 0;
    padding: 0;
  }
  
  .container {
      position: relative;
      height: 670px;
      border: 2px solid black;
  }
  
  .topText {
      font-family: 'Raleway', sans-serif;
  }
  
  .userHeader {
      background-color: Black;
      padding-top: 70px;
      padding-bottom: 20px;
  }
  
  .userHeader h1, h4, label {
      font-family: 'Scope One', serif;
  }
  
  h4 {
      margin-bottom: 0px;
      color: white;
  }
  
  label {
      color: white;
  }
  
  h6 {
      font-family: 'Raleway', sans-serif; 
  }
  
  .userHeader h1, h6, h5 {
      color: white;
      text-align: center;
  }
  
  .btn-circle.btn-lg {
      width: 50px;
      height: 50px;
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.33;
      border-radius: 25px;
      float: right;
      margin-top: 60px;
    }
  
    i {
      font-size:24px;
    }
  
  .background {
      background-color: white;
      border: 2px solid white;
      margin-top: 165px;
      padding: 15px 15px 15px 15px;
  }
  
  .background p {
      font-family: 'Raleway', sans-serif;
      text-align: center;
      background-color: #374454;
      border: 1px solid #374454;
      color: white;
  }
  
  .newsHeader h1 {
      background-color: black;
      text-align: center;
      color: white;
      font-family: 'Quintessential', cursive;
      padding-top: 70px;
      padding-bottom: 20px;
  }
  
  form i {
      font-family: 'Raleway', sans-serif;
  }
  
  .card {
      background-color: black;
  }